#goalstable {
  border: solid;
  color: green
}

.userdash-header {
  text-align: center;
}

nav {
  float: right;
  text-align: right;

}

.nav-component {
  display: inline;
  background-color: white;
  text-align: right
}

.authPadding{
  padding-bottom: 15px;
}


.jumbotron {
  background-color: pink;
  background-position: center;
  background-size: contain;
  text-align: center;
  margin-top: 15px;
}

.signinform {
  margin: 0 auto;
  background-color: grey;
  text-align: center;
  width: 250px;
  padding-top: 50px;
  padding-bottom: 30px

}

.signup {
  margin: 0 auto;
  text-align: center;
}

.friendlist {
  margin: 0 auto;
  text-align: center;
}
