
#goalstable {
  border: solid;
  color: green
}

#navbar {

}

.jumbotron {
  background-color: pink;
  background-position: center;
  background-size: contain;
  text-align: center;
  margin-top: 15px;
}

.signinform {
  margin: 0 auto;
  background-color: grey;
  text-align: center;
  width: 250px;
  padding-top: 50px;
  padding-bottom: 30px

}
