.container {
  /*background-color: #333333*/
}
.goalsList {
  margin-top: 20px;
  width: 85%;
  color: #333333;
  border-top: solid;
  border-width: thin;
  border-color: #5E5E5E
}

.goals-input{

}
.goals-input, .goalsList{
  font-family: 'Playfair Display', serif;
}
.fetchedButton {
  background-color: #8B575C;
  color: white;
  margin: 4px;
}

.jumbotron {
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  background: #000 url("https://brobible.files.wordpress.com/2016/06/septa-unella.jpg?quality=90&w=550") ;
  background-size: cover;
  width: 550px;
  height: 366px;
  color: #F3D3BD
}
.userdash-header {
  text-align: center;
  font-size: 75px;
  font-family: 'Cinzel', serif;
  background: transparent;
  color: white;
}

nav {
  float: right;
  text-align: right;

}

.nav-component {
  display: inline;
  background-color: white;
  text-align: right
}

.authPadding{
  padding-bottom: 15px;
}


.jumbotron {
  background-color: pink;
  background-position: center;
  background-size: contain;
  text-align: center;
  margin-top: 15px;
}

.signinform {
  margin: 0 auto;
  background-color: grey;
  text-align: center;
  width: 250px;
  padding-top: 50px;
  padding-bottom: 30px

}

.signup {
  margin: 0 auto;
  text-align: center;
}

.friendlist {
  margin: 0 auto;
  text-align: center;
}



.error {
  color: red;
  font-style: italic;
}


.fetchedGoalDescription, .fetchedGoalDeadline, .fetchedButton {
  display: inline-block;
  height: 30px;
  /*float:left;*/
}

.fetchedButton{
  float:right;
}
