<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../styles/main.css">
    <title></title>
  </head>
  <body>
    <h1 class="userdash-header">Septa Unella's Honor Program</h1>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
          <ul class="nav-component">username</ul>
          <ul class="nav-component"><a href="#">Logout</a></ul>
        </ul>
      </div>
    </nav>

      <!-- <ul id="navbar">
        <ul>username here</ul>
        <ul><a href="">Sign Out</a></ul>
      </ul> -->

    <div></div>
      <form class="goals-input" ng-submit="addGoal()">
        <input id ="description" type="text" ng-model="goal.description" value="" placeholder="My goal is to...">
        <!-- <input id="reward" type="text" name="name" value="" placeholder="Reward"> -->
        <input id="deadline" type="date" ng-model="goal.deadline">
        <input type="submit" name="name" value="Submit">
      </form>

      <div class="goalsList" ng-repeat="goal in data.goals">
        <div class="fetchedGoalDescription">{{goal.description}}</div>
        <div class="fetchedGoalDeadline">{{goal.deadline}}</div>
        <button type="button" name="button" ng-submit="goalCompletion({{goal.id}})"></button>
        //button to verify
        //goal factory method->PUT request to /goals endpoint using goal id

      </div>
  </body>
</html>
