<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>SUHP</h1>
      <ul id="navbar">
        <ul>username here</ul>
        <ul><a href="">Friends</a></ul>
        <ul><a href="">Sign Out</a></ul>
      </ul>
    </nav>
    <div></div>
      <form class="goals-input" ng-submit="addGoal">
        <input id ="description" type="text" ng-model="goal.description" value="" placeholder="My goal is to...">
        <!-- <input id="reward" type="text" name="name" value="" placeholder="Reward"> -->
        <input id="deadline" type="date" ng-model="goal.deadline">
        <input type="submit" name="name" value="Submit">
      </form>

      <div class="goalsList" ng-repeat="goal in data.goals">
        <div class="fetchedGoalDescription">{{goal.description}}</div>
        <div class="fetchedGoalDeadline">{{goal.deadline}}</div>
      </div>
  </body>
</html>
