<div class = "container" ng-controller = "AuthController" as ctrl >

  <div class="jumbotron">
    <h1>Septa Unella Honors Program</h1>
    <h3>Sign Up or Get Punished</h3>
  </div>

  <!-- this is the code for user signup -->
  <div class='row'>


    <div class = "signup col-md-12">

      <form name="signupForm" ng-submit='ctrl.signup()'>
        <div id='newuser'>
          <p>What's your name?</p>
          <input required type='text' ng-model='ctrl.user.userName'>
        </div>
        <div id= 'email'>
          <p>What's your email?</p>
          <input required type='text' ng-model='ctrl.user.userEmail'>
        </div>
        <br>
        <input class="btn btn-info" value="Join" type="submit">
      </form>
      <a href="#/signin">Already a member? <strong>Signin</strong></a>
    </div>


  </div>

<!-- This is the code for adding friends -->

  <div class = 'row'>

    <div class='friendlist col-md-6'>
      <h3>Add a Judger</h3>
      <form ng-submit='storeFriendEmailList()'>
        <p>Enter your friend's email</p>
        <div id='friendEmail'>
          <input type="email" placeholder="email" ng-model='ctrl.user.friendEmail'>
        </div>
        <br>
        <p>Enter your friend's name</p>
        <div id='friendName'>
          <input type='text' placeholder="friend name" ng-model='ctrl.user.friendName'>
        </div>
        <br>
        <input type="submit" class="btn btn-info" value="Add friend">
      </form>
    </div>

    <div class='friendlist col-md-6'>
      <h3>List of Judges</h3>
      <p>
        {{ctrl.user.friendName}}
      </p>
      <p>
        {{ctrl.user.friendEmail}}
      </p>

  </div>

</div>









<!-- This is the script section -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<!-- This is the CDN section -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- This is our local files -->

<script src= "auth.js" charset="utf-8"></script>
<script src="../services/services.js" charset="utf-8"></script>
<!-- <script src="../app.js" charset="utf-8"></script> -->
<link rel="stylesheet" type="text/css" href="../../styles/main.css">
